@media (width<320px) or (width>1550px) {
  body {
    display: none;
  }
}

body {
  background-color: hsl(23.87, 98.94%, 80.59%);
  position: relative;
  z-index: 10;
  overflow-y: scroll;
}

.admin_box {
  margin: 0 auto;
  margin-top: 90px;
  border: none;
  height: 510px;
  background-color: white;
  overflow-y: hidden;
}

label {
  font-size: 20px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px 20px 0px;
}

input:nth-child(2) {
  margin-bottom: 10px;
}

.incorrect {
  border: 2px solid red;
}

#LoginBox {
  height: 530px;
}

#SignUpBox {
  height: 530px;
  margin-top: 38px;
}

#SignUpBox h2 {
  margin: 0;
  padding-top: 12px;
  text-align: center;
}

.um {
  height: 50px;
  width: 130px;
  background-color: hsl(19.44, 100%, 53%);
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: -2px 2px 4px hsl(19.44, 100%, 53%);
  display: block;
  margin: 0 auto;
}

#Admin {
  text-align: center;
  color: black;
  font-size: 30px;
  display: inline-block;
  margin: 0;
  padding-left: 10px;
  padding-top: 11px;
}

input:focus {
  outline: none;
}

.login {
  border-radius: 25px;
  font-size: 25px;
  border: none;
  background-color: hsl(19.44, 100%, 53%);
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  box-shadow: -2px 2px 4px hsl(19.44, 100%, 53%);
}

.registerLine {
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
}

#su {
  margin-top: 30px;
  margin-bottom: 10px;
}

.u_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#security {
  color: black;
  font-size: 20px;
}

.log {
  margin-top: 0px;
}

#fop {
  color: blue;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 40px;
}

#fop:hover {
  text-decoration: underline;
  cursor: pointer;
}

h2 {
  padding-left: 10px;
  font-size: 27px;
  font-weight: 400;
}

#AuthenticatingBox {
  width: 99%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 20;
  top: 0px;
  align-content: center;
}

.ihidden {
  display: none;
}

#authSpinner {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  animation: authSpin 2s linear infinite forwards;
}

#AuthenticatingBox p {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

@keyframes authSpin {
  0% {
    transform: rotate(0deg);
    border: 7px dotted red;
    border-bottom: 7px solid rgba(0, 0, 0, 0);
  }

  50% {
    border: 7px dotted #fa6400;
    border-bottom: 7px solid rgba(0, 0, 0, 0);
  }

  100% {
    transform: rotate(360deg);
    border: 7px dotted red;
    border-bottom: 7px solid rgba(0, 0, 0, 0);
  }
}

@media (min-width: 320px) and (max-width: 767px) {

  .admin_box {
    width: 304px;
    padding: 20px;
  }

  .fa-user {
    font-size: 32px;
  }


  #UserName {
    font-size: 20px;
  }

  input {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }

  #Password {
    font-size: 20px;
  }

  #login {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-size: 20px;
  }
}

/* Tablets (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .admin_box {
    width: 304px;
    padding: 20px;
  }

  .fa-user {
    font-size: 30px;
  }

  #UserName {
    font-size: 20px;
  }

  input {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }

  #Password {
    font-size: 20px;
  }

  #login {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-size: 20px;
  }
}

/* Laptops (1024px to 1550px) */
@media (min-width: 1024px) and (max-width: 1550px) {
  .admin_box {
    width: 304px;
    padding: 20px;
  }

  .fa-user {
    font-size: 30px;
  }

  #UserName {
    font-size: 20px;
  }

  input {
    width: 100%;
    height: 40px;
    font-size: 20px;
  }

  #Password {
    font-size: 20px;
  }

  #login {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-size: 20px;
  }
}